<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://ylblob.blob.core.windows.net/ylwebsource/Prof.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Yinlong Thatiyanantaporn</h2>
          </div>
        </div>
        <br>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Full Stack Developer | Data Engineer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>UK | China | Thailand</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>yinlongst@icloud.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+66 820859353</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills : <a asp-area="" asp-controller="me" asp-action="SkillDetail">Click for details</a></b></p>
          <p>Web/App Development</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
          </div>
          <p>Data Managment | Analysis</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">
              <div class="w3-center w3-text-white">85%</div>
            </div>
          </div>
          <p>Engineering Modeling & Simulation</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:95%">95%</div>
          </div>
          <p>Media</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:24px;width:90%">Advanced</div>
          </div>
          <p>Chinese</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:24px;width:95%">Native</div>
          </div>
          <p>Thai</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:24px;width:95%">Native</div>
          </div>
          <p>Korean</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:24px;width:45%">Elementary</div>
          </div>
          <p>Japanese</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:24px;width:28%">Starter</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-smile-o fa-fw w3-margin-right w3-text-teal"></i>Activities</b></p>
          <p> Tennis | Golf | Table tennis | Rock climbing | Soccer | Badminton | Swimming
              <ul>
  <li>PE teacher (Tennis Coach) to student classes.</li>
  <li>Represented the school to participate in the tennis competitions.</li>
  <li>Arranged Tennis open competition events</li>
  <li>Found the school International Tennis Association</li>
  <li>Participated in Rock Climbing Competition</li>
  <li>Competing in tennis competitions held in Beijing and Thailand</li>
</ul></p>
         
          <br>



        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>IT Engineer | WAC lightning</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2022 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p><ul>
  <li>IT Administrator (Support & Network)</li>
  <li>Web App Developer/Tester</li>
  <li>RPA Developer</li>
</ul></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Robotic Process Automation Developer and Instructor | AutoBear</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2021 – January 2022</h6>
          <p><ul>
  <li>Program enterprised Automation with UiPath for main Demos presented in Beyond Expo, Macao</li>
  <li>Lead the team to develop RPA to clients</li>
  <li>Designing RPA courses</li>
  <li>Dealing with client’s queries and respond in a timely manner</li>
</ul></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Entrepreneurship in Residence | TusStar</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2021 – January 2022</h6>
          <p>Participated in the Entrepreneurship in Residence Development Program</p><br>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Summer Internship | Zibo MEMs Research Institute</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2021 – September 2021</h6>
          <p>Learning and training the process of MEMS relays designing and optimization. Under supervision of engineers at the institute, Modelling relays and simulation were mains.<br>
          <ul>
  <li>Using MATLAB and COMSOL in Simulation & Optimization</li>
  <li>SolidWorks Design</li>
</ul>    
          </p><br>
       <hr>
      </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Tennis Coach | Tsinghua University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2019 - Jan 2021</h6>
          <p>Provide training to students who wish or have to learn playing tennis, or compete in tennis tournaments. Coordinate individual and group tennis lessons, develop training programs based on students' tennis skills, and evaluate students' performance.</p><br>
      <hr> 
      </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Tsinghua University | China Beijing</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - 2022</h6>
          <p>Bachelor Gegree | Precise and Instrumental Engineering<br>
              <ul>
  <li>Delivering projects by using Python as a support language</li>
  <li>Wide range knowledge of programming</li>
  <li>Basic training in manufacturing engineering</li>
  <li>Mechanical engineering professional knowledge</li>
  <li>Data Repositories management and maintenance</li>
  <li>Microelectromechanical systems Design</li>
  <li>Completed a Student Research in the topic of Inverse Design of Optical Instrument in 2019 using MATLAB and COMSOL to calculate how electromagnetic waves behave in designs</li>
  <li>Using MATLAB simulate and optimize the properties of continuous laser cooling atomic beam system</li>
  <li>MATLAB APP development</li>
</ul></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Northwest University | China Xi'an</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - 2018</h6>
          <p>Chinese language and culture</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Suranaree University of Technology</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2017</h6>
          <p>High School - Science School Talent Project
       </p><br>
       <hr>
      </div>

      <!--Try add more-->

       <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-address-card-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Professional Certificates</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Google Data Analytics</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Issued Dec 2021</h6>
          <p>Competent in tools and platforms including spreadsheets, SQL, Tableau and R as well as know how to prepare, process, analyze and share data for thoughtful action.<br>
             </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Google IT Support Certificate</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Issued Mar 2022</h6>
          <p>This program is ACE® approved including skills, Network protocols, cloud computing, Windows operating system, Linux command line, systems administration, encryption algorithms and techniques, and more.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>IBM Data Engineering Professional Certificate</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Issued Feb 2022</h6>
          <p>This Professional Certificate covers key tasks required in a data engineering role, Python, Linux/UNIX shell scripts to perform ETL processes and works with RDBMS, NoSQL databases (MySQL, MongoDB, Cassandra) and unstructured data, Big Data (Hadoop and Spark), Data Warehouses and utilize Business Intelligence tools to analyze and extract insights.</p><br>
          <hr>
        </div>
       <div class="w3-container">
          <h5 class="w3-opacity"><b>IBM BI Foundations with SQL, ETL and Data Warehousing Specialization</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Issued Feb 2022</h6>
          <p>Proficiency in Business Intelligence and working with Data Warehouses, including familiar using various Linux commands and pipes and developed shell scripts to perform ETL operations. Compose advanced SQL queries to work with data in relational databases, automate ETL, ELT and data pipelines, Apache Airflow and Apache Kafka. Design and build Data Warehouses.</p><br>
          <hr>
        </div>
         <div class="w3-container">
          <h5 class="w3-opacity"><b>UiPath RPA Certificate Associate</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Issued Dec 2021</h6>
          <p>UiPath Certified RPA Associate v1.0 (UiRPA)</p><br>
          <hr>
        </div>
      </div>

      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>


</body>
</html>

