@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>	&nbsp; Welcome to our website (the ”Yinlong”). We understand that privacy online is important to users of our website, especially when conducting business. This statement governs our privacy policies with respect to those visitors who visit without transacting business and who register to transact business on the Yinlong and make use of the various services offered by YinlongWeb Solutions.</p>
<br>
<p><ul>
  <li>This website is coded in C# Bootstrap JQuery ASP.NET via Visual Studio 2022.</li>
  <li>Databases : Azure Data Lake Storage Gen 2 / SQL Database</li>
  <li>Server & Git : Azure DevOps / App Service</li>
  <li>Data Processing : Azure Databricks & Python</li>
  <li>Authentication & Access : Azure Active Directory</li>
</ul></p>
        
          