@model YinlongWeb.Models.UserModel

<script type = "text/javascript" >

function preventBack(){window.history.forward();}
setTimeout("preventBack()", 0);
window.onunload=function(){null};

</script>

<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcessLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <p>UserName</p>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <p>Password</p>
                <input asp-for="MyPassword" class="form-control" type="password"/>
                <span asp-validation-for="MyPassword" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Register">Register</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
